

.card-header  img {
    max-width: 10em;
    max-height: 10em;
}

/* .card-body h5{
    font-size: 15px;
} */

.card-title {
    font-size: 15px;
    text-decoration: none;
  }
  
  @media (max-width: 1200px) {
    .card-title {
      font-size: calc(10px + 1vw);
    }
  }